.price__summary__div {
    margin-top: 3.5vw;
}

.sign__in__btn {
    width: -webkit-fill-available;
    height: 40px;
    /* UI Properties */
    background: var(--white) 0% 0% no-repeat padding-box;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 2px solid #2A65D7;
    border-radius: 10px;
    opacity: 1;
}

.sign__in__btn__span {
    font: normal normal bold 14px/16px Muli;
    letter-spacing: 0px;
    color: #1363DF;
    text-transform: uppercase;
    opacity: 1;
}

.sign__in__label {
    font: normal normal 600 17px/20px Muli;
    letter-spacing: 0px;
    color: #172026;
    opacity: 1;
}


.price__summary__div__info__show {
    display: block;
}

.price__summary__div__info__hide {
    display: none;
}


//mobile View
@media (min-width: 320px) and (max-width: 768px) {
    .price__summary__div__info__show {
        display: none;
    }

    .payment__term__and__policy__label {
        margin-bottom: 60px;
        text-align: center;
    }

}