.checkout__step4__btn{
    width: 300px;
height: 40px;
/* UI Properties */
background: var(--primary-brand) 0% 0% no-repeat padding-box;
background: #1363DF 0% 0% no-repeat padding-box;
box-shadow: 0px 3px 6px #39373729;
border-radius: 10px;
border-color: #1363DF;
opacity: 1;
}