@import "../../../mainapp/color";

.checkout__step2__btn {
    width: 281px;
    height: 40px;
    margin-top: 41px;
    // margin-left: 10vw;
    margin-bottom: 48px;
    background: var(--white) 0% 0% no-repeat padding-box;
    background: $white 0% 0% no-repeat padding-box;
    border: 2px solid $buttonOutline;
    border-radius: 10px;
    color: $blue;
    opacity: 1;
}

.delivery__method__span {
    font: normal normal 600 16px/24px Muli;
    letter-spacing: 0px;
    color: $semiBoldLabel;
}

.shipping__method__container {
    font: normal normal normal 16px/24px Muli;
}

//mobile View
@media (min-width: 320px) and (max-width: 768px) {
    .checkout__step2__btn {
        width: -webkit-fill-available;
        margin-left: 5vw;
        margin-right: 5vw;
    }

}