.checkout__step2__btn {
    width: 281px;
    height: 40px;
    margin-top: 41px;
    margin-left: 25%;
    margin-bottom: 48px;
    background: var(--white) 0% 0% no-repeat padding-box;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 2px solid #2A65D7;
    border-radius: 10px;
    opacity: 1;
}