.checkout__container {
    margin: 0vw 3vw 0vw 3vw;
}



//mobile View
@media (min-width: 320px) and (max-width: 768px) {
    .checkout__title {
        padding: 0vw 25vw 0vw 25vw;
    }

    .checkout__border__div {
        margin-left: 43vw;
        margin-right: 43vw;
    }

    .checkout__border {
        width: 15vw;
        height: 6px;
    }
}