@import "../mainapp/color";

.order__container {
    margin: 0vw 3vw 0vw 3vw;
}



//mobile View
@media (min-width: 320px) and (max-width: 768px) {

    .order__place__title {
        padding: 0vw 20vw 0vw 20vw;
    }

    .order__place__border__div {
        margin-left: 43vw;
        margin-right: 43vw;
    }

    .order__place__border {
        width: 16vw;
        height: 6px;
    }
}