.product-list-container {
    height: max-content;
    margin: 0vw 10.5vw 0vw 15vw;
    // border-bottom: #eceeef 3px solid;
    // margin-bottom: 25px;
    /* UI Properties */
    opacity: 1;
}

/*=== Mobile Media ===*/

@media (min-width: 320px) and (max-width: 768px) {
    .product-list-container {
        height: max-content;
        margin-left: -4%;
        margin-right: 0px;
    }

    .display-list {
        display: none;
    }
}