@import "../mainapp/color";

.shopping-cart-title-span {
    font: normal normal 600 40px/35px Source Serif Pro;
    text-align: center;
}

.shopping-cart-title {
    text-align: center;
    padding: 30px 0px 1% 0px
}

.shopping-cart-sub-container {
    height: max-content;
    margin: 0vw 8vw 0vw 8vw;
}

.shopping__cart__border {
    margin-bottom: 40px;
    margin-left: 45%;
}

.shopping__cart__img {
    width: 200px;
    height: 200px;
}

.shopping__0cart__item__div {
    text-align: center;
}

//mobile View
@media (min-width: 320px) and (max-width: 768px) {
    .shopping-cart-title {
        padding: 0vw 10vw 0vw 10vw;
        font: normal normal 600 36px/45px Source Serif Pro;
    }

    .shopping-cart-title-span {
        font: normal normal 600 7vw Source Serif Pro;
    }

    .shopping__cart__border {
        margin-left: 33vw;
        margin-right: 33vw;
    }

    .shipping__border {
        height: 6px;
    }
}

@media (min-width: 1440px) and (max-width: 1920px) {
    .shopping__cart__border{
        margin-left: 47%;
    }
}