.shopping-cart-title-span {
    font: normal normal 600 40px/35px Source Serif Pro;
}

.shopping-cart-title {
    padding: 30px 35% 1% 35%;
}

.shopping-cart-sub-container {
    height: max-content;
    margin: 0vw 8vw 0vw 8vw;
}

.shopping__cart__border {
    margin-bottom: 40px;
    margin-left: 45%;
}

//mobile View
@media (min-width: 320px) and (max-width: 768px) {
    .shopping-cart-title {
        padding: 0vw 10vw 0vw 10vw;
        font: normal normal 600 36px/45px Source Serif Pro;
    }

    .shopping-cart-title-span {
        font: normal normal 600 7vw Source Serif Pro;
    }

    .shopping__cart__border {
        margin-left: 30vw;
        margin-right: 30vw;
    }

    .shipping__border {
        height: 6px;
    }
}


@media (min-width: 1002px) and (max-width: 1920px) {
    .shopping-cart-title {
        padding: 30px 27% 1% 35%;
    }
}

@media (min-width: 768px) and (max-width: 1001px) {
    .shopping-cart-title {
        padding: 30px 10% 1% 27%;
    }
}