.added-item-cart-container {
    // width: 800px;
    width: auto;
}

.added-cart-item-span {
    font: normal normal 600 16px/18px Muli;
    height: 20px;
}

.added-cart-product-img {
    width: -webkit-fill-available;
    height: 150px;
    margin: 10px 10px 10px 15px;
}

.added-cart-product {
    width: auto;
    border: aliceblue 1px solid;
    margin-bottom: 30px;
}

.added-product-detail {
    margin-left: 15%;
}

.added-product-quantity {
    margin: 18% 0% 0% 18%;
}

.hide-three-menu-icon {
    visibility: hidden;
}

//mobile View
@media (min-width: 320px) and (max-width: 768px) {
    .hide-three-menu-icon {
        visibility: visible;
        width: auto;
    }

    .added-cart-product {
        border: aliceblue 1px solid;
        margin-bottom: 30px;
    }

    .added-cart-product-img {
        width: -webkit-fill-available;
        margin: 10px 10px 10px 15px;
        height: 250px;
    }

    .added-product-quantity {
        margin: -5vw 0% 5vw 36vw;
    }

    .added-product-detail {
        margin-left: 4vw;
    }

    .added-cart-item-span {
        font: normal normal 600 20px Muli;
        height: 0px;
    }

    .added-cart-item-label-detail-span {
        font: normal normal 17px Muli;
    }

    .added-cart-label-div {
        padding: 5px 0px 0px 0px;
    }

    .three-menu-logo {
        width: auto;
    }
}

@media (min-width: 502px) and (max-width: 768px) {
    .added-product-quantity {
        margin: -5vw 0% 5vw 41vw;
    }
}