.homepage-container {
    width: auto;
    height: max-content;
    /* UI Properties */
    mix-blend-mode: multiply;
    font: normal normal normal 16px/24px Muli;
    opacity: 1;
}

.home-page-sub-container-1 {
    background: #E5E5E7;
}

.home-page-sub-container-2 {
    margin: 0vw 14vw 128px 15vw;
}

.man__grp__img {
    width: -webkit-fill-available;
    height: 650px;
}

.man-stand-img {
    width: -webkit-fill-available;
    height: 450px;
}

.man-sky-img {
    width: -webkit-fill-available;
    height: 400px;
    margin-top: 17px;
    margin-bottom: 15px;
}

.category-img {
    width: -webkit-fill-available;
    //width: 349px;
    height: 320px;
    margin-top: -35px;
}

.home-page-margin-botton {
    margin-bottom: 68px;
}

.block__details {
    width: -webkit-fill-available;
    height: 432px;
    /* UI Properties */
    background: #1B252C 0% 0% no-repeat padding-box;
    opacity: 1;
    color: #FFFFFF;
}

.back__arraow {
    width: 20px;
    height: 40px;
    margin-top: 304px;
    margin-left: 24px;
}

.home__title__div {
    font: normal normal 600 48px/60px Source Serif Pro;
    margin-top: 161px;
    margin-bottom: 17px;
}

.home__title__discription__div {
    font: normal normal normal 16px/23px Muli;
    margin-bottom: 17px;
}

.shop__now__btn {
    width: 220px;
    height: 40px;
    /* UI Properties */
    background: var(--primary-brand) 0% 0% no-repeat padding-box;
    background: #1363DF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #39373729;
    border-radius: 10px;
    opacity: 1;
    border-color: #1363DF;
    font: normal normal bold 14px/16px Muli;
    letter-spacing: 0px;
    color: #FFFFFF;
    text-transform: uppercase;
    margin-top: 24px;
    margin-bottom: 67px;
}

.shop__cont__btn {
    width: 221px;
    height: 40px;
    background: var(--white) 0% 0% no-repeat padding-box;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 2px solid #2A65D7;
    border-radius: 10px;
    opacity: 1;
    font: normal normal bold 14px/16px Muli;
    letter-spacing: 0px;
    color: #1363DF;
    text-transform: uppercase;
    margin-top: 24px;
    margin-bottom: 67px;
}

.category__img__div {
    height: 90px;
    width: -webkit-fill-available;
    background-color: #1B252CD9;
    margin-right: 10px;
    margin-top: -70px;
    position: relative;
    border-bottom: #1363DF 8px solid
}

.category__img__span__div {
    font: normal normal 600 24px/30px Source Serif Pro;
    color: #FFFFFF;
    margin-left: 15px;
    padding-top: 17px;
}

.category__img__sub__span {
    color: #FFFFFF;
    font: normal normal normal 16px/23px Muli;
    letter-spacing: 0.32px;
    margin-left: 15px;
}

.home__title__1 {
    font: normal normal 600 48px/60px Source Serif Pro;
    margin-top: 47px;
    margin-bottom: 8px;
}

.home__title__1__div {
    margin-left: 7vw;
}

.home__subtitle__1 {
    font: normal normal 600 20px/25px Muli;
    margin-bottom: 16px;
}

.home__title__2 {
    font: normal normal 600 48px/60px Source Serif Pro;
    padding-bottom: 15px;
}

.home__title__2__div {
    padding: 82px 0px 0px 50px;
}

.shop__cont__service__btn {
    width: 180px;
    height: 40px;
    border: 2px solid var(--white);
    border: 2px solid #FFFFFF;
    border-radius: 10px;
    opacity: 1;
    color: #FFFFFF;
    background-color: #1B252C;
    margin-top: 32px;
}

.map__in__img {
    width: 33px;
    height: 40px;
    margin-left: -15px;
    margin-top: 12px;
}

.border {
    width: 102px;
    height: 8px;
    /* UI Properties */
    background: var(--primary-brand) 0% 0% no-repeat padding-box;
    background: #1363DF 0% 0% no-repeat padding-box;
    opacity: 1;
}

.border__div {
    margin-left: -3.5vw;
}


//mobile View
@media (min-width: 320px) and (max-width: 768px) {
    .home-page-sub-container-2 {
        margin: 0vw 40px 0px 40px;
    }

    .category-img {
        position: relative;
        margin-top: -4vw;
    }

    .home__title__div {
        // margin-top: 0px;
        font: normal normal 600 36px/45px Source Serif Pro;
        letter-spacing: 0px;
        color: #1B252C;
    }

    .shop__now__detail {
        margin-top: 10vw;
        height: max-content;
        width: -webkit-fill-available;
        position: absolute;
        background: transparent linear-gradient(181deg, #F1F1F100 0%, #F0F0F0 100%) 0% 0% no-repeat padding-box;
    }

    .category__img__container {
        height: 380px;
    }

    .home__title__1 {
        font: normal normal 600 36px/45px Source Serif Pro;
        margin-top: 16px;
    }

    .home__title__1__div {
        margin-left: 0px;
    }

    .home__subtitle__1 {
        font: normal normal 600 20px/25px Muli;
    }

    .shop__now__btn {
        margin-top: 32px;
        width: -webkit-fill-available;
        margin-left: 5.4vw;
        margin-right: 5.4vw;
        margin-bottom: 24px;
    }

    .shop__cont__btn {
        margin-top: 32px;
        width: -webkit-fill-available;
        margin-left: 5.4vw;
        margin-right: 5.4vw;
        margin-bottom: 32px;

    }

    .border-home {
        width: -webkit-fill-available;
        margin-left: 12vw;
        margin-right: 12vw;
    }

    .man-stand-img {
        height: 312px;
        margin-top: -60px;
    }


    .home__title__2 {
        font: normal normal 600 36px/45px Source Serif Pro;
    }

    .block__details {
        margin-bottom: 32px;
    }

    .man-sky-img {
        width: 100vw;
        margin-left: -40px;
        margin-bottom: -10vw;
        margin-top: 0px;
    }

    .map__in__div {
        position: absolute;
        margin-top: -500px;
        margin-left: 17vw;
    }

    .map__in__img {
        margin-left: 5px;
    }

    .shop__now__btn__phone__home {
        margin-left: 76px;
        margin-right: 76px;
    }
}