.product-display {
    //width: 400px;
    width: -webkit-fill-available;
    height: max-content;
    padding: 10px 10px 10px 10px;
}

.single-img-display {
    //width: 380px;
    width: inherit;
    height: 680px;
    padding: 20px 20px 20px 20px;
}

.side-product-display {
    width: 100px;
    height: 120px;
}

.side-product-div {
    margin-bottom: 16px;
}

.down__arrow {
    width: 16px;
    height: 8px;
    margin-left: 40px;
}

.product-title-span {
    font: normal normal 600 36px/45px Source Serif Pro;
}

.product-discription-span {
    font: normal normal 600 20px/25px Muli;
}

.product-display-phone-view {
    display: none;
}

.product-display-desktop-view {
    display: block;
}

.product__title__span__display__div {
    font: normal normal 600 36px/45px Source Serif Pro;
    margin-top: 49px;
    margin-bottom: 24px;
}

.border__div__product {
    margin-bottom: 15px;
}

.add__to__cart__btn {
    width: 318px;
    height: 40px;
    /* UI Properties */
    background: #1363DF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #39373729;
    border-radius: 10px;
    opacity: 1;
    font: normal normal bold 14px/16px Muli;
    color: #FFFFFF;
    margin-top: 35px;
    margin-bottom: 18px;
    border-color: #1363DF;
}

//mobile View
@media (min-width: 320px) and (max-width: 768px) {

    .dot__div {
        margin-left: 35vw;
        margin-top: -19vw;
    }

    .dot {
        cursor: pointer;
        height: 1.5vw;
        width: 1.5vw;
        margin: 0px 8px 0px 8px;
        background-color: #DFE1E2;
        border-radius: 50%;
        display: inline-block;
        transition: background-color 0.6s ease;
    }

    .product-display-phone-view {
        display: block;
    }

    .product-display-desktop-view {
        display: none;
    }

    .product-display {
        width: -webkit-fill-available;
        height: 100vw;
        padding: 20px 20px 20px 20px;
        opacity: 1;
    }

    .single-img-display {
        height: -webkit-fill-available;
        padding: 25px 20px 20px 20px;
    }

    .details-div {
        margin-bottom: 24px;
    }

    .product__title__span__display__div {
        font: normal normal 600 6vw Source Serif Pro;
        margin-left: 3vw;
    }

    .product-title-span {
        font: normal normal 600 6vw Source Serif Pro;
    }

    .product-discription-span {
        padding-bottom: 3vw;
        margin-left: 34vw;
    }

    .add__to__cart__btn{
        margin-left: 25vw;
    }
    
    .border__div__product{
        margin-bottom: 20px;
    }
}