.product-display {
    //width: 400px;
    width: -webkit-fill-available;
    height: 580px;
    border: aliceblue 1px solid;
    padding: 10px 10px 10px 10px;
    margin-bottom: 49px;
    /* UI Properties */
    opacity: 1;
}

.single-img-display {
    //width: 380px;
    width: inherit;
    height: 453px;
    padding: 20px 20px 20px 20px;
}

.side-product-display {
    width: 85px;
    height: 100px;
    padding-bottom: 16px;
    border: aliceblue 1px solid;
}

.side-product-div {
    margin-bottom: 20px;
}

.product-title-span {
    font: normal normal 600 25px/35px Source Serif Pro;
}

.product-discription-span {
    font: normal normal 600 15px/20px Muli;
}

.end-border {
    margin-top: 4%;
    border: #1F39FF 4px solid;
    width: 102px;
    height: 8px;
    margin-bottom: 8%;
}

.product-display-phone-view {
    display: none;
}

.product-display-desktop-view {
    display: block;
}

//mobile View
@media (min-width: 320px) and (max-width: 768px) {

    .product-display-phone-view {
        display: block;
    }

    .product-display-desktop-view {
        display: none;
    }

    .product-display {
        width: -webkit-fill-available;
        height: 100vw;
        border: aliceblue 1px solid;
        padding: 20px 20px 20px 20px;
        // margin: 35px 0px 10px 3%;
        opacity: 1;
    }

    .single-img-display {
        height: -webkit-fill-available;
        padding: 25px 20px 20px 20px;
    }

    .details-div {
        margin-top: 3vw;
    }

    .product-title-span-display {
        font: normal normal 600 6vw Source Serif Pro;
        margin-left: 3vw;
    }

    .product-title-span {
        font: normal normal 600 6vw Source Serif Pro;
    }
    .product-discription-span {
        padding-bottom: 3vw;
        margin-left: 34vw;
    }

    .end-border {
        margin-left: 33vw;
    }
}