.product-title {
    margin: 10px 0px 4px 0px;
}

.product-price-span {
    font: normal normal 600 15px/20px Muli;
}

.product-rating-span {
    font: normal normal 600 15px/20px Muli;
}

.product-discription-details {
    border-bottom: #eceeef 3px solid;
    margin-bottom: 5px;
}

.product-attribute-span {
    font: normal normal 600 15px/20px Muli;
    margin-bottom: 5px;
}

.product-add-to-cart-logo {
    width: 250px;
    height: 35px;
    margin-top: 20px;
}

.product-attribute {
    margin-bottom: 10px;
}

.save-share-logo {
    width: 18px;
    height: 16px;
    margin-right: 10px;
}

.share-save-div {
    margin: 30px 0px 95px 30px;
}

.save-share-span {
    font: normal normal 600 16px/20px Muli;
    height: 20px;
}

.fabric-details-logo {
    width: 24px;
    height: 20px;
    margin-right: 10px;
}

.star-svg {
    height: 25px;
    margin-right: -10px;
    margin-left: -7px;
}


//mobile View
@media (min-width: 320px) and (max-width: 768px) {
    .product-title {
        margin: 78% 0px 4px 0px;
    }

    .product-price-span {
        padding-bottom: 3vw;
    }

    .product-rating-span {
        padding-bottom: 3vw;
    }

    .product-attribute {
        margin-bottom: 20px;
    }

    .box {
        width: auto;
        margin-left: 1vw;
    }

    .box-span {
        margin: 0.5vw 0px 0px 5vw;
    }

    .product-add-to-cart-logo {
        width: auto;
        height: 6vw;
        margin-left: 25vw;
        margin-top: 1vw;
    }

    .share-save-div {
        margin: 2vw 0px 2vw 23.5vw;
    }

    .save-share-span {
        font: normal normal 600 14px/18px Muli;
    }

    .fabric-detail-div {
        margin-bottom: 5%;
    }

    .quantity-div {
        margin-left: 30vw;
    }
}


//mobile View
@media (min-width: 500px) and (max-width: 768px) {
    .quantity-div {
        margin-left: 34vw;
    }
}


//mobile View
@media (min-width: 320px) and (max-width: 430px) {
    .product-add-to-cart-logo {
        height: 8vw;
        margin-left: 20vw;
    }
}