@import "../../mainapp/color";

.product-display {
    //width: 400px;
    width: -webkit-fill-available;
    height: max-content;
    padding: 10px 10px 10px 10px;
}

.single-img-display {
    //width: 380px;
    width: inherit;
    height: 600px;
    padding: 20px 20px 20px 20px;
}

.side-product-display {
    width: 100px;
    height: 120px;
}

.side-product-div {
    margin-bottom: 16px;
}

.down__arrow {
    width: 16px;
    height: 8px;
    margin-left: 40px;
}

.product-title-span {
    font: normal normal 600 36px/45px Source Serif Pro;
}

.product__discription__span__div {
    font: normal normal 600 20px/25px Muli;
}

.product-display-phone-view {
    display: none;
}

.product-display-desktop-view {
    display: block;
}

.product__title__span__display__div {
    font: normal normal 600 36px/45px Source Serif Pro;
    margin-top: 49px;
    margin-bottom: 24px;
}

.border__div__product {
    margin-bottom: 15px;
}

.add__to__cart__btn {
    width: 318px;
    height: 40px;
    /* UI Properties */
    background: $blue 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #39373729;
    border-radius: 10px;
    opacity: 1;
    font: normal normal bold 14px/16px Muli;
    color: $white;
    margin-top: 35px;
    margin-bottom: 18px;
    border-color: $blue;
}

.one__product__div {
    border-bottom: $blue 4px solid;
}

.read-more-button {
    font-weight: 800;
    text-decoration: underline;
    display: inline;
}

//mobile View
@media (min-width: 320px) and (max-width: 768px) {

    .dot__div {
        margin-left: 31vw;
        margin-top: -100px;
    }

    .dot {
        cursor: pointer;
        height: 1.5vw;
        width: 1.5vw;
        margin: 0px 8px 0px 8px;
        background-color: #DFE1E2;
        border-radius: 50%;
        display: inline-block;
        transition: background-color 0.6s ease;
    }

    .product-display-phone-view {
        display: block;
    }

    .product-display-desktop-view {
        display: none;
    }

    .product-display {
        padding: 0;
        opacity: 1;
        width: 60vw;
        height: max-content;
        margin-left: 15vw;
        margin-right: 15vw;
    }

    .single-img-display {
        height: -webkit-fill-available;
        padding: 8vw 8vw 8vw 8vw;
    }

    .details-div {
        margin-bottom: 24px;
    }

    .product__title__span__display__div {
        font: normal normal 600 6vw Source Serif Pro;
        text-align: center;
    }

    .product-title-span {
        font: normal normal 600 6vw Source Serif Pro;
    }

    .product__discription__span__div {
        padding-bottom: 3vw;
        text-align: center;
    }

    .add__to__cart__btn {
        width: -webkit-fill-available;
    }

    .border__div__product {
        margin-bottom: 20px;
    }
}


//mobile View
@media (min-width: 769px) and (max-width: 1024px) {

    .product-display{
        padding: 0;
    }
    .side-product-display{
        width: 60px;
        height: 100px;
    }

    .down__arrow{
        margin-left: 20px;
    }

    .product-title-span{
        
        font: normal normal 600 3vw Source Serif Pro;
    }

    .share-save-div{
        margin-bottom: 3px;
    }
}