.banner__block {
    width: -webkit-fill-available;
    height: 352px;
    /* UI Properties */
    background: #1B252C 0% 0% no-repeat padding-box;
    opacity: 1;
}

.banner__block__span__div {
    font: normal normal 600 48px/60px Source Serif Pro;
    letter-spacing: 0px;
    color: #FFFFFF;
    padding: 96px 91px 106px 90px;
}

.man-sit {
    width: -webkit-fill-available;
    height: 320px;
    margin-top: 16px;
}

.banner-sub-container {
    height: 44px;
    margin: 0vw 14vw 0vw 15vw;
    margin-bottom: 30px;
}

.result-span {
    margin-left: 4px;
    /* UI Properties */
    font: normal normal 600 16px/20px Muli;
    letter-spacing: 0px;
    color: #172026;
}

.filter-dropdown-span {
    /* UI Properties */
    font: normal normal normal 16px/24px Muli;
}

.filter-dropdown {
    width: 260px;
    height: 44px;
}

.filter-sort-div {
    display: none;
}

.banner-desktop {
    display: block;
    margin-bottom: 45px;
}

.banner-phone {
    display: none;
}

/*=== Mobile Media ===*/
@media (min-width: 320px) and (max-width: 768px) {

    .banner-desktop {
        display: none;
    }

    .banner-phone {
        display: block;
    }


    .filter-sort-div {
        display: block;
        padding-left: 15%;
        padding-bottom: 5%;
    }

    .filter-sort-sub-container {
        padding-top: 6%;
    }

    .filter-sort-logo {
        width: auto;
        margin-right: 3px;
    }

    .sort-logo {
        width: auto;
        margin-right: 3px;
    }


    .result-div {
        margin-left: 40%;
        margin-bottom: 3%;
    }
}

@media (min-width: 1800px) and (max-width: 1920px) {
    .filter-div {
        margin-left: 130px;
    }
}