@import "../../mainapp/color";
 
.sidebar-container {
    width: 306px;
    // height: 1369px;
    margin-left: 8px;
}

.filter-title-div {
    width: auto;
    padding: 0% 0% 8% 0%;
    font: normal normal normal 20px/14px Muli;
    letter-spacing: 0px;
    color: $sidebarSpan;
    opacity: 1;
}

.sidebar-span {
    /* UI Properties */
    font: normal normal 600 16px/24px Muli;
    letter-spacing: 0px;
    color: $sidebarSpan;
    opacity: 1;
}

.attr {
    width: 15vw;
    height: max-content;
    border-bottom: #eceeef 3px solid;
    margin-bottom: 25px;
    /* UI Properties */
    opacity: 1;
}

.checkbox-span {
    position: absolute;
    padding-top: 12px;

    /* UI Properties */
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-16)/var(--unnamed-line-spacing-24) var(--unnamed-font-family-muli);
    letter-spacing: var(--unnamed-character-spacing-0);
    text-align: left;
    font: normal normal normal 16px/24px Muli;
    letter-spacing: 0px;
    opacity: 1;
}

.chechbox-resize {
    width: 20px;
    height: 20px;
    margin: 15px 20px 0px 0px;

    /* UI Properties */
    background: var(--white) 0% 0% no-repeat padding-box;
    border: 2px solid var(--gray-m1);
    background: $white 0% 0% no-repeat padding-box;
    border: 2px solid $placeholderAndBorder;
    opacity: 1;
}

.attr-bottom {
    padding-bottom: 25px;
}

.close-log {
    display: none;
}

.fieldset {
    border: none;
    padding-bottom: 16px;

}

//Mobile View
@media (min-width: 320px) and (max-width: 768px) {
    .sidebar-container {
        position: absolute;
        height: max-content;
        /* margin-top: -34%; */
        background: white;
        /* margin-left: 185px; */
        border: 2px solid $placeholderAndBorder;
        box-shadow: 0px 8px 16px #00000026;
        width: -webkit-fill-available;
        margin-left: 10vw;
    }

    .attr {
        width: auto;
        padding-bottom: 4%;
        margin-top: 20px;
        padding-left: 5%;
        margin-right: 20px;
        margin-left: 20px;
        border-top: $sidebarBorder 3px solid;
        border-bottom: $sidebarBorder 3px solid;
    }

    .sidebar-span {
        font: normal normal 600 16px/24px Muli;
        color: $sidebarSpan;
    }

    .checkbox-span {
        width: 70%;
        font: normal normal normal 16px/24px Muli;
    }

    .chechbox-resize {
        padding-top: 23px;
    }

    .sidebar-span-div {
        padding: 4% 0% 4% 0%;
    }

    .sidebar__btn {
        margin-bottom: 70px;
    }

    .clear__all__sapn__div {
        text-decoration: underline;
        font: normal normal 600 14px/24px Muli;
        letter-spacing: 0px;
        color: $sidebarSpan;
        margin-top: 32px;
        margin-left: 20px;
        padding-left: 5%;
    }

    .filter-title-div {
        width: auto;
        padding: 3% 0% 4% 5%;
        background: $sidebarBorder 0% 0% no-repeat padding-box;
        font: normal normal 600 16px/24px Muli;
        letter-spacing: 0.32px;
        color: #1D1D1B;
    }

    .close-log {
        margin-left: 75%;
        width: 14px;
        display: block;
        margin-top: -3%;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .attr {
        width: 138px;
    }

    .chechbox-resize {
        margin: 15px 10px 0px 0px;
    }
}