$white : #FFFFFF;
$black : #1B252C;

$blue : #1363DF;
$badgeBlack : #06283D;


$semiBoldLabel : #172026;
$regularLable : #545D63;

$buttonOutline : #2A65D7;
$sidebarSpan : #181C24;

$checkoutAccordian : #72777F;
$placeholderAndBorder :#91959C;

$orderPlaceBadge : #47B5FF;

$border : #D1D3D6;
$sidebarBorder : #E5E5E7;

$PayementAndShipmentBorder :#F4F5F5;